# BIG-IP Environment
# Characters you cannot use in the usecret: # ) ( ; ! | $ < > & ' " ` \ +
# If deploying BigIP version 11.0.0 or prior, also include } and { in that list.

uname        = "admin"
usecret      = "my-secret"
gceSshPubKey = "ssh-rsa xxxxx"
prefix       = "f5tf-test"
adminSrcAddr = "0.0.0.0/0"
mgmtVpc      = "f5tf-test-net-mgmt"
extVpc       = "f5tf-test-net-ext"
intVpc       = "f5tf-test-net-int"
mgmtSubnet   = "f5tf-test-subnet-mgmt"
extSubnet    = "f5tf-test-subnet-ext"
intSubnet    = "f5tf-test-subnet-int"
dns_suffix   = "us-central1-c.c.sbd-poc.internal"

# BIG-IQ Environment
bigIqUsername = "admin"

# Google Environment
gcp_project_id = "sbd-poc"
gcp_region     = "us-central1"
gcp_zone       = "us-central1-c"
svc_acct       = "terraform-user@sbd-poc.iam.gserviceaccount.com"
privateKeyId   = "abcdcba123321"
#ksecret        = "svc-acct-secret"
